@model localshop.Core.DTO.OrderDTO

<div class="col-lg-7">
    <div class="billing-info-wrap mr-50">
        <h3>Billing Details</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.FirstName, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.FirstName, new { required = "" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.LastName, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.LastName, new { required = "" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.Email, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.Email, new { type = "email", required = "" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { required = "" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.Country, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.Country, new { required = "" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.City, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.City, new { required = "" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.State, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.State, new { required = "" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.Address1, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.Address1, new { @class = "billing-address mb-0", placeholder = "House number and street name", required = "" })
                    @Html.TextBoxFor(m => m.Address2, new { @class = "mt-2", placeholder = "Apartment, suite, unit etc." })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="billing-info mb-20">
                    @Html.LabelFor(m => m.Zip, new { @class = "d-inline" })
                    <abbr class="text-danger" title="required">*</abbr>
                    @Html.TextBoxFor(m => m.Zip, new { required = "" })
                </div>
            </div>
        </div>

        <div class="checkout-account mt-25">
            @Html.CheckBoxFor(m => m.IsShipToDifferentAddress, new { @class = "checkout-toggle mr-2" })
            <label for="@Html.NameFor(m=>m.IsShipToDifferentAddress)" class="text-uppercase">Ship to a different address?</label>
        </div>

        <div class="different-address open-toggle mt-30">
            <div class="row">
                <div class="col-lg-12">
                    <div class="billing-info mb-20">
                        @Html.LabelFor(m => m.DiffCountry)
                        @Html.TextBoxFor(m => m.DiffCountry)
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="billing-info mb-20">
                        @Html.LabelFor(m => m.DiffCity)
                        @Html.TextBoxFor(m => m.DiffCity)
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="billing-info mb-20">
                        @Html.LabelFor(m => m.DiffState)
                        @Html.TextBoxFor(m => m.DiffState)
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="billing-info mb-20">
                        @Html.LabelFor(m => m.DiffAddress1)
                        @Html.TextBoxFor(m => m.DiffAddress1, new { @class = "billing-address", placeholder = "House number and street name" })
                        @Html.TextBoxFor(m => m.DiffAddress2, new { placeholder = "Apartment, suite, unit etc." })
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="billing-info mb-20">
                        @Html.LabelFor(m => m.DiffZip)
                        @Html.TextBoxFor(m => m.DiffZip)
                    </div>
                </div>
            </div>
        </div>

        <div class="additional-info-wrap">
            @Html.LabelFor(m => m.OrderNotes)
            @Html.TextAreaFor(m => m.OrderNotes, new { placeholder = "Notes about your order, e.g. special notes for delivery." })
        </div>
    </div>
</div>

