@using localshop.Core.Common
@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
}

@section thirdPartyCss {
    <style>
        .parsley-errors-list {
            margin-top: -20px;
            margin-bottom: 20px;
        }
    </style>
}

@section thirdPartyJs {
    @Scripts.Render("~/content/client/js/validation")

    <!-- Controller -->
    @Scripts.Render("~/content/client/js/account/resetPassword")
}

@Html.Hidden("errorMessage", TempData["ErrorMessage"])

<div class="breadcrumb-area bg-img" style="background-image:url(@ImageLinks.BackgrounBreadcrumb);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>@ViewBag.Title</h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
</div>

<div class="pt-85 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a href="javascript:void(0)">
                            <h4>Reset password</h4>
                        </a>
                    </div>
                    <div class="login-form-container">
                        <div class="login-register-form">
                            @using (Html.BeginForm("resetPassword", "account", FormMethod.Post, new { data_parsley_validate = "", no_validate = "" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(m => m.Code)
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", required = "", type = "email" })
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "", data_parsley_pattern = @"^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,}$", data_parsley_error_message = "Password must contain at least six characters, one uppercase letter, one lowercase letter and one number." })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", required = "", data_parsley_equalto = $"#{Html.IdFor(m => m.Password)}" })

                                <div class="button-box">
                                    <div class="text-right">
                                        <a href="@Url.Action("login", "account")" class="mr-4"><i class="la la-arrow-left"></i> Return to login</a>
                                        <button type="submit">Reset password</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

